th {
  background-color: teal;
  color: white;
}

td, input {
  font-family: monospace;
}

th.nested {
  background-color: lightgrey;
  color: black;
}

select {
  font-family:monospace;
}

.outline {
  border: 1px solid black;
  background-color: #e9e9e9ff;
}

.okbutton {
  border: 2px solid darkblue;
  border-radius: 8px;
  color: darkblue;
  background-color: #eeeeFFff;
  padding: 10px;
}

.warning {
  color: red;
  background-color: yellow;
}

.finePrint {
  color: grey;
  font-family: monospace;
  font-size: 0.1em;
}
