th {
  background-color: teal;
  color: white;
}

td, input {
  font-family: monospace;
}

th.nested {
  background-color: lightgrey;
  color: black;
}

.outline {
  border: 1px solid black;
  background-color: #e9e9e9ff;
}

.okbutton {
  border: 2px solid darkblue;
  border-radius: 8px;
  color: darkblue;
  padding: 10px;
}

.warning {
  color: red;
  background-color: yellow;
}

.finePrint {
  background-color: white;
  color: grey;
  font:10% monospace;
}
